/* @mixin settingTextBox(){
    padding: 10px 5px;
    border-radius: 8px;
    border: none;
    outline: none;
    text-align: center;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(120deg, #3ca7ee, #9b408f);
    font-family: 'Lexend', sans-serif;
    display: flex;
    /* dàn cả trang */
    justify-content: center;
    /* căn giữa trục x */
    align-items: center;
    /* căn giữa trục y */
    color: var(--whiteColor);
}

.smell{
    --backgroundColor: #F9D3C8;
    --whiteColor: #FCFBF6;
    --boxTestColor: #F6F7F1;
    --buttonColor: #5B5C77;
    /* --buttonColor: #564d80; */
    --grayColor: #D0CCCC;
    --onButtonColor: #5A6851;
    --toggleFixedHeight: 36px;
    --toggleFixedStroke: 2.29px;
    --toggleOnColor: #DDC3C6;
    --toggleOnStrokeColor: #F9D3C8;
    --disableBackgroundColor: #E3E1DE;
}

.container1 {
    /* Flavour Smell */
    width: 1020px;
    height: 557.69px;
    background: var(--backgroundColor);
    /* border: 1px solid #000000; */
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.container-background {
    z-index: 2;
}

.container-background .circle1 {
    position: absolute;
    left: 0;
    bottom: 0;

}

.container-background .circle2 {
    position: absolute;
    top: 0;
    right: 0;
}

.container-header {
    background: var(--buttonColor);
    padding: 3.15077px 15px;
    width: 400px;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
}

.container-body {
    z-index: 3;
    margin: 10px 10px;
    /* background: blue; */
    width: 95%;
    height: 90%;
}

.container-body .test {
    color: var(--buttonColor);
    padding-left: 15px;
    padding-bottom: 5px;
    font-size: 21px;
}

.container-body .flex-container {
    display: flex;
    justify-content: space-between;
    /* padding: 0 15px; */

}

.container-body .box-test1 {
    background: var(--boxTestColor);
    width: 730px;
    height: 455.29px;
    border-radius: 18.9046px;
    /* margin-left: 50px; */

}
.box-test1 .title{
    color:  var(--buttonColor);
    display: flex;
    padding-top: 5px;
}
.box-test1 .title h2{
    font-size: 20px;
    font-weight: 700;
    padding-right: 50px;
    /* padding: 0 10px;
    margin-left: 190px; */
}
.box-test1 .title-name{
    margin-left: 223px;
}
.container-body .box-button {
    position: relative;
    top: 37px;
    width: 206.06px;
    height: 376px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box-test1 .channel {
    display: flex;
    /* padding-left: 10px;
    padding-top: 10px; */
    padding: 13px 15px 15px 45px ;
    gap: 25px;
    /* justify-content: center; */
    align-items: center;
}

.channel p {
    font-size: 23px;
    font-weight: 700;
    color: var(--buttonColor);
}

/* .toggleChannel label{
    width: 80px;
	height: 30px;
	background-color: #aaa;
	border-radius: 20px;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
} */

.toggleChannel label {
    width: 80px;
    height: var(--toggleFixedHeight);
    border-radius: 20px;
    background: var(--grayColor);
    border: var(--toggleFixedStroke) solid var(--buttonColor);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: .5s;
}

/* 
.toggleChannel label .on{
    background: var(--toggleOnColor);
    border: var(--toggleFixedStroke) solid var(--toggleOnStrokeColor);
} */

.toggleChannel label::after {
    content: '';
    width: 25px;
    height: 25px;
    background: var(--whiteColor);
    border-radius: 50%;
    display: block;
    transform: translateX(5px);
    transition: .5s;
}

.toggleChannel input:checked+label {
    background: var(--toggleOnColor);
    border: var(--toggleFixedStroke) solid var(--toggleOnStrokeColor);
    /* transition: 1s; */
}

.toggleChannel input:checked+label::after {
    transform: translateX(45px);
    /* transition: 1s; */
}

#smellName {
    color: var(--whiteColor);
    /* background: var(--buttonColor); */
    width: 157px;
    font-size: 18px;
    padding: 10px 5px;
    border-radius: 8px;
    border: none;
    outline: none;
    text-align: center;
}

#smellName::placeholder {
    font-weight: 200;
    color: var(--disableBackgroundColor);
    text-align: center;
    /* Replace 'colorValue' with the color you want */
}

#smellName:focus::placeholder {
    color: transparent;
    /* Replace 'colorValue' with the color you want */
}

.duration {
    display: flex;
    align-items: center;
    gap: 5px;
}

#duration {
    width: 63px;
    /* @include settingTextBox(); */
    /* background: white; */
    color: var(--buttonColor);
    font-size: 18px;
    padding: 10px 5px;
    border-radius: 8px;
    border: 1px solid var(--buttonColor);
    outline: none;
    text-align: center;
    transition: .5s;
}

.toggleDuration label {
    width: 80px;
    height: var(--toggleFixedHeight);
    border-radius: 20px;
    background: var(--grayColor);
    border: var(--toggleFixedStroke) solid var(--buttonColor);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: .5s;
}

.toggleDuration p {
    color: var(--whiteColor);
    font-size: 18px;
    position: absolute;
    left: 10px;
    display: none;
}

.toggleDuration label::after {
    content: '';
    width: 25px;
    height: 25px;
    background: var(--whiteColor);
    border-radius: 50%;
    display: block;
    transform: translateX(5px);
    transition: .5s;
}

.toggleDuration input:checked+label {
    background: var(--buttonColor);
    border: var(--toggleFixedStroke) solid var(--buttonColor);
    /* transition: 1s; */
}

.toggleDuration input:checked+label::after {
    transform: translateX(45px);
    /* transition: 1s; */
}

.toggleDuration input:checked+label p {
    display: block;
}

/* .toggleDirection label {
    width: 90px;
    height: var(--toggleFixedHeight);
    border-radius: 20px;
    background: var(--buttonColor);
    border: var(--toggleFixedStroke) solid var(--toggleOnColor);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: .5s;
}

.toggleDirection .push {
    color: var(--whiteColor);
    font-size: 18px;
    position: absolute;
    left: 35px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
}

.toggleDirection .pull {
    color: var(--boxTestColor);
    font-size: 18px;
    position: absolute;
    left: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.toggleDirection label::after {
    content: '';
    width: 25px;
    height: 25px;
    background: var(--whiteColor);
    border-radius: 50%;
    display: block;
    transform: translateX(5px);
    transition: .5s;
}

.toggleDirection input:checked+label {
    background: var(--toggleOnColor);
    border: var(--toggleFixedStroke) solid var(--buttonColor);
}

.toggleDirection input:checked+label::after {
    transform: translateX(58px);
}

.toggleDirection input:checked+label .push {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.toggleDirection input:checked+label .pull {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
} */

/* .activeBtn  */
#activeButton2 {
    background: var(--buttonColor);
    font-size: 20px;
    color: var(--whiteColor);
    font-weight: 600;
    /* font-family: 'Lexend', sans-serif; */
    /* padding: 8px 20px; */
    width: 121px;
    height: 41px;
    border-radius: 7px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    position: absolute;
    left: 590px;
    cursor: pointer;  
    transition: 0.5s;
}

    /* position: relative;
}

/* label[for="activeButton"] {
    position: absolute;
    width: 121px;
    height: 41px;
    transform: translateX(-100%);
} */
/* .deactiveBtn  */
#deactiveButton2 {
    background: var(--whiteColor);
    font-size: 20px;
    color: var(--buttonColor);
    font-weight: 600;
    /* padding: 8px 7px; */
    width: 121px;
    height: 41px;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    position: absolute;
    left: 590px;
    cursor: pointer; 
    transition: 0.5s;
}

/* label[for="deactiveButton"] {
    position: absolute;
    width: 121px;
    height: 41px;
    transform: translateX(-100%);
} */
/* .hidden {
    opacity: 0;
    visibility: none;
} */

/* button for switching pages */

.switch-page {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.switch-page button {
    padding: 10px 20px;
    background-color: var(--buttonColor);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.switch-page button:hover {
    background-color: var(--buttonColor);
}

/* box button */

/* .box-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
} */

/* .global-intensity {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 5px;
    width: 200px;
    background-color: #564d80;
    border-radius: 5px;
    color: white;
}

.global-intensity h3 {
    margin: 0;
} */

/* .global-intensity input[type="number"] {
    width: 100px;
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    border: 2px solid var(--buttonColor);
    border-radius: 5px;
} */

/* button {
    width: 150px;
    padding: 10px;
    background-color: #564d80;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */





#duration:disabled{
    color: var(--grayColor);
    cursor: not-allowed;
    border-color: var(--disabledColor);
    transition: .5s;
}
.toggleDuration input[type="checkbox"]:disabled + label {
    color: #ccc; /* Change the text color */
    border-color: var(--grayColor);
    background: var(--disableBackgroundColor);
    transition: .5s;
  }
  
  /* Style the custom box when the checkbox is disabled */
 .toggleDuration input[type="checkbox"]:disabled + label:before {
    border-color: #ccc; /* Change the border color */
    background-color: #f0f0f0; /* Change the background color */
    transition: .5s;
 }
#activeButton2:disabled{
    background: var(--disableBackgroundColor);
    color: var(--grayColor);
    cursor: not-allowed;
 }
.off{
    background: var(--grayColor);
}
.on{
    background: var(--buttonColor);
}

.outsideButton{
    margin-top: 8px;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 .ActivateSelected{
    background: var(--buttonColor);
    height: 70px;
    width: 160px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 12px;
 }
 .ActivateAll{
    background: var(--buttonColor);
    height: 70px;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 24px;
 }
 .DeactivateAll{
    background: var(--buttonColor);
    height: 70px;
    font-size: 20px;
    font-weight: 600;
    padding: 12px;
}
.outsideButton:hover {
    background-color: #403b63;
}

.outsideButton:active{
    background: var(--whiteColor);
    color: var(--buttonColor);
    border: none;
    outline: none;
}
.outsideButton:disabled {
    cursor: not-allowed;
}
.outsideButton:focus {
    outline: none;
}